<div class="container">
  <div class="row">
    <div class="col s10 m6 l6">
      <h5 class="mt-2 mb-0">Tutorial IncluCare</h5>
    </div>
  </div>
</div>

<div class="tutorial_text">
  <div class="container">
    <div class="row">
      <p align="justify">
        Para acessar, digite seu email e sua senha.<br>
        <!--Tela de login-->
        <br>
        Essa é a página da relação de todos os estudantes cadastrados no sistema.<br>
        <img class="pagina-login" src="assets/images/tutorial/tabelaAluno.jpeg" width="1000" height="600"><br>
        <br><b>Para cadastrar um novo estudante basta clicar no botão “ADICIONAR ALUNO” no canto superior direito da página.</b><br><br>

        <br><b>Essa será a página aberta</b><br>
        <img class="pagina-login" src="assets/images/tutorial/addStudent.jpeg" width="1000" height="600"><br><br>

        <b>Pronto! Aluno Cadastrado</b><br>

        <br>São possíveis quatro ações com o estudante. Que são elas:<br>
        Registros diários, Encaminhamentos, ver o relatório, e gerar recomendações.<br><br>
        Para qualquer dessas ações, basta clicar na seta azul ao lado do estudante desejado.<br>

        <img class="pagina-login" src="assets/images/tutorial/tabelaAluno.jpeg" width="1000" height="600"><br>

        <br>Essa será a janela aberta!<br>
        <img class="pagina-login" src="assets/images/tutorial/painelAluno.jpeg" width="1000" height="600"><br>
        <br><br>

        Para adicionar um registro diário basta clicar no botão “REGISTROS DIÁRIOS”<br>
        <br>
        <img class="pagina-login" src="assets/images/tutorial/painelAluno.jpeg" width="1000" height="600"><br><br>
        A seguinte tela irá ser exibida<br>
        <img class="pagina-login" src="assets/images/tutorial/AdicionarREgistroDiario.jpeg" width="1000" height="600"><br>
        Clique em “NOVO REGISTRO” e preencha os campos, depois só clicar em “ENVIAR”<br>
        <br><br>

        <img class="pagina-login" src="assets/images/tutorial/tabelaAluno.jpeg" width="1000" height="600"><br>
        <br>

        Para ir para encaminhamento basta clicar em "ENCAMINHAMENTOS"<br><br>

        A seguinte janela irá ser exibida<br>
        <img class="pagina-login" src="assets/images/tutorial/encaminhamentos.jpeg" width="1000" height="600"><br><br>

        Clique em "NOVO ENCAMINHAMENTO"<br><br>

        Então preencha os campos conforme a figura a baixo:<br>
        <img class="pagina-login" src="assets/images/tutorial/adicionarEncaminhamento.jpeg" width="1000" height="600"><br><br>

        <img class="pagina-login" src="assets/images/tutorial/painelAluno.jpeg" width="1000" height="600"><br><br>

        Para gerar um relatório, basta clicar em “RELATÓRIO”<br><br>

        Com a tela seguinte, preencha os campos e em seguida clique em ‘ENVIAR”<br>
        <img class="pagina-login" src="assets/images/tutorial/relatorioAluno.jpeg" width="1000" height="600"><br><br>

        Para gerar recomendações basta clicar em “RECOMENDAÇÕES”<br>

        <img class="pagina-login" src="assets/images/tutorial/painelAluno.jpeg" width="1000" height="600"><br><br>

        Com a tela seguinte, preencha os campos e em seguida clique em ‘ENVIAR”<br>
        <img class="pagina-login" src="assets/images/tutorial/painelRecomendacao.jpeg" width="1000" height="600"><br><br>

        <h4><b>Alterar Perfil</b></h4>
        <br><br>
        Para alterar seus dados no sistema, basta você clicar no seu usário, localizado no menu lateral  esquerdo<br>
        <img class="pagina-login" src="assets/images/tutorial/tabelaAluno.jpeg" width="1000" height="600"><br><br>

        E em seguida clicar em “Visitar Perfil”<br><br>

        A seguinte tela irá ser exibida<br>
        <img class="pagina-login" src="assets/images/tutorial/perfilAdmin.jpeg" width="1000" height="600"><br>
        Agora só editar as informações que queira e salvar!<br>

    </div>
  </div>
</div>
