<!--p>
   O que e o IncluCare?
</p>
<p>
    O IncluCare é uma aplicação para auxiliar a equipe educacional no acompanhamento e triagem de estudantes com dificuldade de aprendizagem. O objetivo do IncluCare é auxiliar a equipe educacional responsável, de escolas públicas, pela triagem e acompanhamento de estudantes que apresentam algum tipo de dificuldade de aprendizagem, facilitando e tornando estes processos mais rápidos.
</p-->
<ul id="slide-out" class="side-nav fixed">
  <li class="li-hover mt-6">
    <p class="ultra-small margin more-text">Tutorial</p>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold">
        <a class="collapsible-header waves-effect waves-cyan">
          <i class="material-icons">class</i>
          <span class="nav-text">O que e o IncluCare?</span>
        </a>
        <div class="collapsible-body">
          <ul>
            <p>
              O IncluCare é uma aplicação para auxiliar a equipe educacional no acompanhamento e triagem de estudantes com dificuldade de aprendizagem. O objetivo do IncluCare é auxiliar a equipe educacional responsável, de escolas públicas, pela triagem e acompanhamento de estudantes que apresentam algum tipo de dificuldade de aprendizagem, facilitando e tornando estes processos mais rápidos.
            </p>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li class="li-hover">
    <p class="ultra-small margin more-text">Perguntas frequentes</p>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold">
        <a class="collapsible-header waves-effect waves-cyan">
          <i class="material-icons">account_circle</i>
          <span class="nav-text">Como me cadastrar?</span>
        </a>
        <div class="collapsible-body">
          <ul>
            <p>
              Para que seja efetuado o seu cadastro no sistema,
               deve-se entrar em contato com a direcao da sua escola para ser encaminhado a equipe gestora
               do IncluCare de sua instituicao de ensino.
            </p>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold">
        <a class="collapsible-header waves-effect waves-cyan">
          <i class="material-icons">account_circle</i>
          <span class="nav-text">Como eu faco meu primeiro login no sistema?</span>
        </a>
        <div class="collapsible-body">
          <ul>
            <p>
              Assim que voce e cadastrado no sistema, sera enviada para o seu email uma senha para
              o seu primeiro login. Voce pode anotar essa senha para uso, ou altera-la mais tarde no seu perfil
              de usuario
            </p>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold">
        <a class="collapsible-header waves-effect waves-cyan">
          <i class="material-icons">account_circle</i>
          <span class="nav-text">Como cadastrar um aluno novo?</span>
        </a>
        <div class="collapsible-body">
          <ul>
            <p>
              Inserir depois
            </p>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>

<app-register-form #registerForm ></app-register-form>
