<div class="container">
  <div class="row">
    <div class="col s10 m6 l6">
      <h5 class="mt-2 mb-0">Painel do Encaminhamento</h5>
    </div>
    <div class="col s2 m6 l6">
      <a (click)="generatePDFReferral(referral.student.name)" class="btn waves-effect waves-light blue right mt-2">
        Baixar PDF
        <i class="material-icons">description</i>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <form id="dailylog_data" role="form">
      <div class="card-content row">
        <div *ngIf = "referral?.student" id="content" #content>
          <div *ngIf="!editMode">
            <h4>Dados do Estudante</h4>

            <p>Estabelecimento de Ensino: Escola Classe 401</p>
            <p>Nome: {{referral.student.name}}</p>
            <p>Data de Nascimento: {{referral.student.birth_date}}</p>
            <p>Ano: {{referral.student.year}}</p>
            <p>Turno: {{referral.student.shift}}</p>
            <p>Turma: {{referral.student.student_class}}</p>
            <p>Naturalidade: {{referral.student.nationality}}</p>
            <p>Filiação: {{referral.student.responsible}}</p>
            <p>Endereço: {{referral.student.address}}</p>
            <p>Telefone: {{referral.student.parent_telephone}}</p>

            <h4>{{referral.title}}</h4>
            <div class="referral-text">{{referral.body}}</div>
          </div>
          <div *ngIf="editMode">
            <div class="input-field">
              <label class="active" for="title">Título</label>
              <input type="text" id="title" placeholder="" [(ngModel)]="referral.title" name="title" #title="ngModel" [readonly]="!editMode">
            </div>
            <div class="active input-field">
              <label class="active" for="body">Texto</label>
              <textarea id="body" placeholder="" [(ngModel)]="referral.body" name='body' #body="ngModel" class="materialize-textarea" [readonly]="!editMode"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="card-action" align="right">
        <button (click)="returnToList()" *ngIf="!editMode" class="waves-effect waves-light btn blue left">Voltar</button>
        <button (click)="editMode = !editMode" *ngIf="!editMode" class="btn waves-effect waves-light" type="submit" name="action">
          Editar
          <i class="material-icons right">edit</i>
        </button>
        <button *ngIf="editMode" (click)="deleteReferral(referral)" class="btn waves-effect waves-light red" type="button" name="action">
          Deletar Encaminhamento
          <i class="material-icons right">delete</i>
        </button>
        <button *ngIf="editMode" (click)="editMode = !editMode"class="btn waves-effect waves-light" type="button" name="action">
          Cancelar
          <i class="material-icons right">close</i>
        </button>
        <button *ngIf="editMode" (click)="updateReferral(referral)" class="btn waves-effect waves-light" type="button" name="action">
          Salvar alterações
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
