<div class="navbar-fixed">
  <nav role="navigation">
    <div class="nav-wrapper inclucolor-2">
      <a id="logo-container" class="brand-logo">IncluCare</a>
      <ul class="right">

        <li *ngIf="(authService.userSignedIn$ | async)"><a (click)="presentAuthDialog()">REGISTER</a></li>
        <li *ngIf="(authService.userSignedIn$ | async)"><a [routerLink]="['/students']" > STUDENTS </a></li>
        <!--li *ngIf="(authService.userSignedIn$ | async)"><a [routerLink]="['/profile']">PROFILE</a></li-->
        <li *ngIf="(authService.userSignedIn$ | async)"><a (click)="logOut()">LOGOUT</a></li>

      </ul>
    </div>
  </nav>
</div>

<app-auth-dialog #authDialog ></app-auth-dialog>
