<div class="navbar-fixed">
  <nav role="navigation">
    <div class="nav-wrapper inclucolor-2">
      <a [routerLink]="['/students']" class="brand-logo">IncluCare</a>
      <ul *ngIf="(authService.userSignedIn$ | async)" class="right">
        <li><a *ngIf="authTokenService.currentUserData" materialize="dropdown" class="dropdown-button" href="#" data-activates="dropdown_bar" data-beloworigin="true">
          {{authTokenService.currentUserData.name}}
          <i class="material-icons left">account_circle</i>
          <i class="material-icons right">arrow_drop_down</i>
        </a></li>
      </ul>
      <ul *ngIf="(authService.userSignedIn$ | async)" class="right">
        <li><a *ngIf="authTokenService.currentUserData" materialize="dropdown" class="dropdown-button" href="#" data-activates="dropdown_bar_alunos" data-beloworigin="true">
          {{"alunos"}}
          <i class="material-icons left">account_circle</i>
          <i class="material-icons right">arrow_drop_down</i>
        </a></li>
      </ul>
    </div>
  </nav>
</div>

<ul id="dropdown_bar" class="dropdown-content">
  <li><a (click)="presentAuthDialog()">
    REGISTER
    <i class="material-icons left">person_add</i>
  </a></li>profile
  <li><a [routerLink]="['/profile']">
    PROFILE
    <i class="material-icons left">person</i>
  </a></li>
  <li><a (click)="logOut()">
    LOGOUT
    <i class="material-icons left">keyboard_tab</i>
  </a></li>
</ul>

<ul id="dropdown_bar_alunos" class="dropdown-content">
  <li><a [routerLink]="['/students']">
    Ver Alunos
    <i class="material-icons left">person</i>
  </a></li>
  <li><a [routerLink]="['/students/new']">
    Cadastrar Aluno
    <i class="material-icons left">person_add</i>
  </a></li>

</ul>

<app-register-form #registerForm ></app-register-form>
