:host{
  background: linear-gradient(#09B0B0, #08A66D);
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0;
  z-index: 20;
}

#login-page {
  height: 100%;
  display: table;
  margin: auto;
}

#login-panel {
  display: table-cell;
  vertical-align: middle;
}
