<div class="outer">

  <div class="middle">
    <div class="inner z-depth-4 card-panel">

      <!-- <img class="logo" src="https://i.imgur.com/Yp3w68r.png"></img> -->

      <h5 class="text-title">Entrar</h5>

      <!-- <div *ngIf="formErrors" class="no-margin">
        <strong><span class="no-margin red-text">Ocorreu um erro ao tentar entrar no sistema.</span></strong>
        <ul class="no-margin red-text">
          <li *ngFor="let error of formErrors">{{ error }}</li>
        </ul>
      </div> -->

      <form [formGroup]="form" (ngSubmit)="signInUser()">
        <div class="row no-bottom">

          <div class="input-field">
            <input id="email" type="email" class="validate" formControlName="email">
            <label for="email">Email</label>
            <!-- <span *ngIf="form.get('email').errors.required" class="helper-text" data-error="O email é obrigatório!"></span> -->
            <!-- <span *ngIf="form.get('email').errors.email" class="helper-text" data-error="Email inválido!"></span> -->
          </div>

          <div class="input-field">
            <input id="password" type="password" class="validate" formControlName="password">
            <label for="password">Senha</label>
            <!-- <span *ngIf="form.get('password').errors.required" class="helper-text red-text">A senha é obrigatória!</span> -->
          </div>

          <!-- <div class="input-field right-align">
            <a href="esqueceu_senha.html">Esqueceu sua senha?</a>
          </div> -->

          <div class="top-margin">
            <button [disabled]="form.invalid || submitted" type="submit" class="btn waves-effect waves-light col s5 offset-s7">Entrar</button>
          </div>

        </div>
      </form>

    </div>
  </div>

</div>
