<div class="login-outer">
  <div class="login-middle">
    <div class="login-inner z-depth-4 card-panel">
      <!-- <img class="login-logo" src="https://i.imgur.com/Yp3w68r.png"></img> -->
      <h5 class="login-title">Entrar</h5>
      <form [formGroup]="form" (ngSubmit)="signInUser()">
        <div class="row mb-0">
          <div class="input-field">
            <input id="email" type="email" class="validate" formControlName="email">
            <label for="email">Email</label>
          </div>
          <div class="input-field">
            <input id="password" type="password" class="validate" formControlName="password">
            <label for="password">Senha</label>
          </div>
          <div class="login-submit">
            <button [disabled]="form.invalid || submitted" type="submit" class="btn waves-effect waves-light col s5 offset-s7">Entrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
