<div class="container">
  <div class="row">
    <div class="col s10 m6 l6">
      <h5 class="mt-2 mb-0">Encaminhamentos</h5>
      <p class="mt-0">{{student.name}}</p>
    </div>
    <div class="col s2 m6 l6">
      <a [routerLink]="['/referral', student.id]" class="btn waves-effect waves-light right title-btn">
        <i class="material-icons hide-on-med-and-up">add_circle_outline</i>
        <span class="hide-on-small-only">Novo Encaminhamento</span>
      </a>
    </div>
  </div>
</div>

<div class="container card">
  <div class="container">
    <table class="striped">
      <thead>
        <tr>
          <th [class.active]="order === 'title'" (click)="setOrder('title')">
            Título
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>
          <th [class.active]="order === 'body'" (click)="setOrder('body')">
            Texto
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>
          <th [class.active]="order === 'updated_by'" (click)="setOrder('updated_by')">
            Autor
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of referrals | orderBy: order:reverse:'case-insensitive'">
          <td>{{ r.title }}</td>
          <td class="list-text">{{ r.body }}</td>
          <td>{{ r.updated_by }}</td>
          <td>
            <a [routerLink]="['/referralpanel', r.id]">
              <i class="material-icons">send</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <a [routerLink]="['/studentpanel', student.id]">Voltar</a>
  </div>
</div>
