<div class="container">
  <h4>Lista de Encaminhamentos</h4>
</div>

<div class="container">


  <table class="striped">
    <thead>
      <tr>
        <th data-field="title">Título</th>
        <th style="word-wrap: break-word; max-width: 300px;" data-field="body">Texto</th>
        <th data-field="studentid">ID do Aluno</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let r of getReferrals()">
        <td>{{ r.title }}</td>
        <td style="word-wrap: break-word; max-width: 300px; white-space: pre-line;">{{ r.body }}</td>
        <td>{{ r.student.id }}</td>
        <td>
          <a [routerLink]="['/referralpanel', r.id]">
            Visualizar encaminhamento
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
