ul.side-nav {
  top: 46px;
  overflow: hidden;
  height: 100%;
  width: 240px;
  transition: 0.3s ease all;
  background: #004466;
  z-index: 888;
}

ul.side-nav li > a {
  padding: 0 16px !important;
}

ul.side-nav li:not(.no-padding) {
  line-height: 44px;
}

.more-text {
	padding: 2px 20px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
}

ul.side-nav li > a,
ul.side-nav li .more-text,
ul.side-nav li > a > i,
ul.side-nav li .more-text > i {
  color: #fff;
}

ul.side-nav .collapsible-body,
ul.side-nav.fixed .collapsible-body {
  background: #005577;
}

ul.side-nav li a i {
    font-size: 1.4rem;
    margin-right: 1rem;
}

ul.side-nav .collapsible-header.active:after {
    content: "keyboard_arrow_down";
}

ul.side-nav .collapsible-header:after {
    font-family: "Material Icons";
    content: "keyboard_arrow_right";
    color: #9e9e9e;
    position: absolute;
    right: 16px;
}

/* ul.side-nav li:not(.no-padding) a {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
} */
