<ul *ngIf="authService.userSignedIn()" id="slide-out" class="side-nav fixed">
  <li class="li-hover mt-6">
    <p class="ultra-small margin more-text">Alunos</p>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion" materialize="collapsible">
      <li class="bold">
        <a class="collapsible-header waves-effect waves-cyan">
          <i class="material-icons">class</i>
          <span class="nav-text">Alunos</span>
        </a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a [routerLink]="['/students']">
                <i class="material-icons">person</i>
                <span>Relação de Alunos</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/students/new']">
                <i class="material-icons">person_add</i>
                <span>Adicionar Aluno</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li class="li-hover">
    <p class="ultra-small margin more-text">Membro da Equipe</p>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion" materialize="collapsible">
      <li class="bold">
        <a class="collapsible-header waves-effect waves-cyan">
          <i class="material-icons">account_circle</i>
          <span class="nav-text" *ngIf='authService.currentUserData()'>{{authService.currentUserData().name}}</span>
        </a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a [routerLink]="['/profile']">
                <i class="material-icons">person</i>
                <span>Visitar Perfil</span>
              </a>
            </li>
            <li *ngIf="authService.userIsAdmin()">
              <a href="javascript:void(0);" (click)="presentAuthDialog()">
                <i class="material-icons">person_add</i>
                <span>Cadastrar Novo Membro</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>

<app-register-form #registerForm></app-register-form>
