<div *ngIf="authService.currentUserData()">
  <div *ngIf="authService.currentUserData().nickname == 'admin'; else elseBlock ">
    <h3>Painel de Membros</h3>
    <table class="striped">
      <thead>
        <tr>
          <th data-field="name">Nome</th>
          <th data-field="email">Email</th>
          <tr>
      </thead>

      <tr *ngFor="let teamMember of getTeamMembers()">
        <td>{{ teamMember.name }}</td>
        <td>{{ teamMember.email }}</td>
        <td>
          <a (click)="deleteTeamMember(teamMember)" class="btn waves-effect waves-light gradient-inclucare" type="button" name="action">Excluir Membro da Equipe
            <i class="material-icons right">delete</i>
          </a>
        </td>
      </tr>
    </table>
  </div>

  <ng-template #elseBlock>
    <h4>Você não possui perfil de administrador! <br/>
Por favor,entre em contato com administrador da sua equipe.</h4>
  </ng-template>

</div>
