<div id="showprofile" *ngIf="authTokenService.currentUserData">

  <div class="col l4 s12 center">
    <br/>
    <i class="fa fa-user-circle-o blue-grey-text darken-2" style="font-size: 8em"></i>
  </div>

  <div class="card">
    <h4 align="center"> Perfil </h4>
    <form id="data" role="form">
      <div class="row">
        <div class="container">
          <div class="card-action" align="right">
            <a (click)="editMode = !editMode" class="btn waves-effect waves-light gradient-inclucare" type="submit" name="action">Editar Dados
              <i class="material-icons right">edit</i>
            </a>
            <a href="/students" class="btn waves-effect waves-light gradient-inclucare"
              type="button" name="action">Deletar Perfil
              <i class="material-icons right">delete</i>
            </a>
          </div>
        </div>

<a class="waves-effect waves-light btn modal-trigger" (click)="openNewPassawordModal()">Modal</a>

<!-- Modal Structure -->
<div id="modal" class="modal" materialize="modal" [materializeActions]="modalActions">
  <div class="modal-content">
    <div class="col-md-6">
	<div class="card card-block">
		<h4 class="card-title">Update Password</h4>

		<form #changePasswordForm="ngForm" (ngSubmit)="updatePassword()">

			<div class="form-group">
				<label for="formGroupExampleInput">Current Password</label>
				<input type="text"
					class="form-control"
					placeholder="Current Password"
					required
					[(ngModel)]="updatePasswordData.passwordCurrent"
					name="current-password">
			</div>

			<div class="form-group">
				<label for="formGroupExampleInput">New Password</label>
				<input type="password"
					class="form-control"
					placeholder="New Password"
					required
					[(ngModel)]="updatePasswordData.password"
					name="password">
			</div>

			<div class="form-group">
				<label for="formGroupExampleInput">New Password Confirmation</label>
				<input type="password"
					class="form-control"
					placeholder="New Password Confirmation"
					required
					[(ngModel)]="updatePasswordData.passwordConfirmation"
					name="password-confirmation">
			</div>

			<button
				type="submit"
				class="btn btn-primary"
				[disabled]="!changePasswordForm.form.valid">
				Update Password
			</button>

		</form>

	</div>
</div>
  </div>
</div>


          <div class="input-field col s6">
            <input
                   type="text"
                   id="name"
                   placeholder=""
                   [(ngModel)]="authTokenService.currentUserData.name"
                   name="name"
                   #name="ngModel"
                   [readonly]="!editMode"
            >
            <label class="active" for="name">Nome</label>
          </div>

          <div class="input-field col s6">
            <input
                  type="email"
                  id="email"
                  placeholder=""
                  [(ngModel)]="authTokenService.currentUserData.email"
                  name='email'
                  #parent_email="ngModel"
                  [readonly]="!editMode"
            >
            <label class="active" for="email">Email</label>
          </div>

          <div class="container">
            <div class="card-action" align="center">
          <button *ngIf="editMode" (click)="editMode = !editMode"class="btn waves-effect waves-light gradient-inclucare"
             type="button" name="action">Cancelar
            <i class="material-icons right">close</i>
          </button>

          <a *ngIf="editMode" class="btn waves-effect waves-light gradient-inclucare"
             type="button" name="action">Salvar alterações
            <i class="material-icons right">send</i>
          </a>

    </div>
  </div>
</div>

    </form>
  </div>
</div>
