<div class="container">
  <div class="row">
    <div class="col s10 m6 l6">
      <h5 class="mt-2 mb-0">Relatório do Aluno</h5>
      <!--p class="mt-0">{{student.name}}</p>-->
    </div>
  </div>
</div>

<div class="container card">
  <div class="container">
    <form id="reportdata" role="form" (ngSubmit)="save()" #f="ngForm">
      <div class="row">
        <div class="container">
          <h6>Informações Gerais</h6>
          <div class="input-field col s12">
            <label for="member_name">Seu nome</label>
            <input id="member_name" type="text" required [(ngModel)]="report.member_name" name="member_name" class="validate" #member_name="ngModel">
            <span class="helper-text" *ngIf="!member_name.valid && member_name.touched" data-error="wrong" data-success="right">Seu nome é necessário!</span>
          </div>
          <div class="input-field col s8">
            <label for="school_name">Escola</label>
            <input id="school_name" type="text" required [(ngModel)]="report.school_name" name="school_name" class="validate" #school_name="ngModel">
            <span class="helper-text" *ngIf="!school_name.valid && school_name.touched" data-error="wrong" data-success="right">Escola é necessário!</span>
          </div>
          <div class="input-field col s4">
            <label for="school_phone">Tel. da Escola</label>
            <input id="school_phone" type="text" required [(ngModel)]="report.school_phone" name="school_phone" class="validate" #school_phone="ngModel">
            <span class="helper-text" *ngIf="!school_phone.valid && school_phone.touched" data-error="wrong" data-success="right">Tel. da Escola é necessário!</span>
          </div>
          <div class="input-field col s6">
            <label for="init_date">Inicio do processo de acompanhamento</label>
            <input id="init_date" type="text" required [(ngModel)]="report.init_date" name="init_date" class="validate" #init_date="ngModel">
            <span class="helper-text" *ngIf="!init_date.valid && init_date.touched" data-error="wrong" data-success="right">Data é necessário!</span>
          </div>
          <div class="input-field col s6">
            <label for="end_date">Final do processo de acompanhamento</label>
            <input id="end_date" type="text" required [(ngModel)]="report.end_date" name="end_date" class="validate" #end_date="ngModel">
            <span class="helper-text" *ngIf="!end_date.valid && end_date.touched" data-error="wrong" data-success="right">Data é necessário!</span>
          </div>
          <h6>Tópicos Gerais</h6>
          <div class="input-field col s12">
            <label for="reason">Motivo do Encaminhamento</label>
            <textarea id="reason" class="validate materialize-textarea" required [(ngModel)]="report.reason" name="reason" #reason="ngModel"></textarea>
            <span class="helper-text" *ngIf="!reason.valid && reason.touched" data-error="wrong" data-success="right">Motivo é necessário!</span>
          </div>
          <div class="input-field col s12">
            <label for="general_information">Informações Gerais</label>
            <textarea id="general_information" class="validate materialize-textarea" required [(ngModel)]="report.general_information" name="general_information" #general_information="ngModel"></textarea>
            <span class="helper-text" *ngIf="!general_information.valid && general_information.touched" data-error="wrong" data-success="right">Informações Gerais são necessárias!</span>
          </div>
          <div class="input-field col s12">
            <label for="synthesis">Síntese da Investigação Pedagógica e Psicológica</label>
            <textarea id="synthesis" class="validate materialize-textarea" required [(ngModel)]="report.synthesis" name="synthesis" #synthesis="ngModel"></textarea>
            <span class="helper-text" *ngIf="!synthesis.valid && synthesis.touched" data-error="wrong" data-success="right">Síntese é necessária!</span>
          </div>
          <div class="input-field col s12">
            <label for="conclusion">Conclusão / Encaminhamentos</label>
            <textarea id="conclusion" class="validate materialize-textarea" required [(ngModel)]="report.conclusion" name="conclusion" #conclusion="ngModel"></textarea>
            <span class="helper-text" *ngIf="!conclusion.valid && conclusion.touched" data-error="wrong" data-success="right">Conclusão é necessária!</span>
          </div>
          <h6>Orientações</h6>
          <div class="input-field col s12">
            <label for="family_orientation">Orientação à Família</label>
            <textarea id="family_orientation" class="validate materialize-textarea" required [(ngModel)]="report.family_orientation" name="family_orientation" #family_orientation="ngModel"></textarea>
            <span class="helper-text" *ngIf="!family_orientation.valid && family_orientation.touched" data-error="wrong" data-success="right">Orientação à Família é necessária!</span>
          </div>
          <div class="input-field col s12">
            <label for="school_orientation">Orientação à Escola</label>
            <textarea id="school_orientation" class="validate materialize-textarea" required [(ngModel)]="report.school_orientation" name="school_orientation" #school_orientation="ngModel"></textarea>
            <span class="helper-text" *ngIf="!school_orientation.valid && school_orientation.touched" data-error="wrong" data-success="right">Orientação à Escola é necessária!</span>
          </div>
          <h6>Informações da Pedagoga</h6>
          <div class="input-field col s4">
            <label for="pedagogue_name">Nome da Pedagoga</label>
            <input id="pedagogue_name" type="text" required [(ngModel)]="report.pedagogue_name" name="pedagogue_name" class="validate" #pedagogue_name="ngModel">
            <span class="helper-text" *ngIf="!pedagogue_name.valid && pedagogue_name.touched" data-error="wrong" data-success="right">Nome da Pedagoga é necessária!</span>
          </div>
          <div class="input-field col s4">
            <label for="pedagogue_function">Função da Pedagoga</label>
            <input id="pedagogue_function" type="text" required [(ngModel)]="report.pedagogue_function" name="pedagogue_function" class="validate" #pedagogue_function="ngModel">
            <span class="helper-text" *ngIf="!pedagogue_function.valid && pedagogue_function.touched" data-error="wrong" data-success="right">Função da Pedagoga é necessária!</span>
          </div>
          <div class="input-field col s4">
            <label for="pedagogue_registry">Matrícula da Pedagoga</label>
            <input id="pedagogue_registry" type="text" required [(ngModel)]="report.pedagogue_registry" name="pedagogue_registry" class="validate" #pedagogue_registry="ngModel">
            <span class="helper-text" *ngIf="!pedagogue_registry.valid && pedagogue_registry.touched" data-error="wrong" data-success="right">Matrícula da Pedagoga é necessária!</span>
          </div>
          <h6>Informações da Psicóloga</h6>
          <div class="input-field col s4">
            <label for="psycholog_name">Nome da Psicóloga</label>
            <input id="psycholog_name" type="text" required [(ngModel)]="report.psycholog_name" name="psycholog_name" class="validate" #psycholog_name="ngModel">
            <span class="helper-text" *ngIf="!psycholog_name.valid && psycholog_name.touched" data-error="wrong" data-success="right">Nome da Psicóloga é necessária!</span>
          </div>
          <div class="input-field col s4">
            <label for="psycholog_function">Função da Psicóloga</label>
            <input id="psycholog_function" type="text" required [(ngModel)]="report.psycholog_function" name="psycholog_function" class="validate" #psycholog_function="ngModel">
            <span class="helper-text" *ngIf="!psycholog_function.valid && psycholog_function.touched" data-error="wrong" data-success="right">Função da Psicóloga é necessária!</span>
          </div>
          <div class="input-field col s4">
            <label for="psycholog_registry">Matrícula da Psicóloga</label>
            <input id="psycholog_registry" type="text" required [(ngModel)]="report.psycholog_registry" name="psycholog_registry" class="validate" #psycholog_registry="ngModel">
            <span class="helper-text" *ngIf="!psycholog_registry.valid && psycholog_registry.touched" data-error="wrong" data-success="right">Matrícula da Psicóloga é necessária!</span>
          </div>
          <h6>Motivo do Encaminhamento</h6>
          <p>
            <input type="checkbox" id="reason_adequation" [(ngModel)]="report.reason_adequation" name="reason_adequation" #reason_adequation="ngModel"/>
            <label for="reason_adequation">Adequação Escolar</label>
          </p>
          <p>
            <input type="checkbox" id="reason_emotional" [(ngModel)]="report.reason_emotional" name="reason_emotional" #reason_emotional="ngModel"/>
            <label for="reason_emotional">Dificuldades Emocionais</label>
          </p>
          <p>
            <input type="checkbox" id="reason_performance" [(ngModel)]="report.reason_performance" name="reason_performance" #reason_performance="ngModel"/>
            <label for="reason_performance">Baixo Rendimento Escolar</label>
          </p>
          <p>
            <input type="checkbox" id="reason_behavior" [(ngModel)]="report.reason_behavior" name="reason_behavior" #reason_behavior="ngModel"/>
            <label for="reason_behavior">Dificuldades de Comportamento</label>
          </p>
          <p>
            <input type="checkbox" id="reason_language" [(ngModel)]="report.reason_language" name="reason_language" #reason_language="ngModel"/>
            <label for="reason_language">Dificuldades de Linguagem</label>
          </p>
          <h6>Nível do Paique</h6>
          <p>
            <input type="checkbox" id="level_school" [(ngModel)]="report.level_school" name="level_school" #level_school="ngModel"/>
            <label for="level_school">Nível 1: Escola</label>
          </p>
          <p>
            <input type="checkbox" id="level_family" [(ngModel)]="report.level_family" name="level_family" #level_family="ngModel"/>
            <label for="level_family">Nível 2: Família</label>
          </p>
          <p>
            <input type="checkbox" id="level_student" [(ngModel)]="report.level_student" name="level_student" #level_student="ngModel"/>
            <label for="level_student">Nível 3: Aluno</label>
          </p>
          <h6>Envolvidos no Processo</h6>
          <div class="input-field col s12">
            <label for="envolved_school">Envolvidos: Escola</label>
            <textarea id="envolved_school" class="validate materialize-textarea" required [(ngModel)]="report.envolved_school" name="envolved_school" #envolved_school="ngModel"></textarea>
            <span class="helper-text" *ngIf="!envolved_school.valid && envolved_school.touched" data-error="wrong" data-success="right">Envolvidos é necessária!</span>
          </div>
          <div class="input-field col s12">
            <label for="envolved_family">Envolvidos: Familia</label>
            <textarea id="envolved_family" class="validate materialize-textarea" required [(ngModel)]="report.envolved_family" name="envolved_family" #envolved_family="ngModel"></textarea>
            <span class="helper-text" *ngIf="!envolved_family.valid && envolved_family.touched" data-error="wrong" data-success="right">Envolvidos é necessária!</span>
          </div>
          <div class="input-field col s12">
            <label for="envolved_student">Envolvidos: Aluno</label>
            <textarea id="envolved_student" class="validate materialize-textarea" required [(ngModel)]="report.envolved_student" name="envolved_student" #envolved_student="ngModel"></textarea>
            <span class="helper-text" *ngIf="!envolved_student.valid && envolved_student.touched" data-error="wrong" data-success="right">Envolvidos é necessária!</span>
          </div>
          <h6>Ações Realizadas nos Níveis do Paique</h6>
          <div class="input-field col s12">
            <label for="realized_actions">Ações realizadas</label>
            <textarea id="realized_actions" class="validate materialize-textarea" required [(ngModel)]="report.realized_actions" name="realized_actions" #realized_actions="ngModel"></textarea>
            <span class="helper-text" *ngIf="!realized_actions.valid && realized_actions.touched" data-error="wrong" data-success="right">Envolvidos é necessária!</span>
          </div>
          <h6>Possibilidades de Adequação Educacional do Aluno</h6>
          <p>
            <input type="checkbox" id="possibly_saa" [(ngModel)]="report.possibly_saa" name="possibly_saa" #possibly_saa="ngModel"/>
            <label for="possibly_saa">SAA</label>
          </p>
          <p>
            <input type="checkbox" id="possibly_eeaa" [(ngModel)]="report.possibly_eeaa" name="possibly_eeaa" #possibly_eeaa="ngModel"/>
            <label for="possibly_eeaa">EEAA</label>
          </p>
          <p>
            <input type="checkbox" id="possibly_resources" [(ngModel)]="report.possibly_resources" name="possibly_resources" #possibly_resources="ngModel"/>
            <label for="possibly_resources">Sala de Recursos</label>
          </p>
          <p>
            <input type="checkbox" id="possibly_adequation" [(ngModel)]="report.possibly_adequation" name="possibly_adequation" #possibly_adequation="ngModel"/>
            <label for="possibly_adequation">Adequação Curricular</label>
          </p>

          <div class="card-action">
            <button routerLink="/reports" class="waves-effect waves-light btn blue left">Voltar</button>
            <button type="submit" [disabled]="!(f.valid)" [ngClass]="{'disabled': !(f.valid)}" class="waves-effect waves-light btn green right">Enviar</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
