<div id="createreport">
  <div class="card">
    <h4 align="center"> Criar Relatório </h4>
    <form id="reportdata" role="form" (ngSubmit)="save()" #f="ngForm">
      <div class="row">
        <div class="container">
          <div class="input-field">
            <label for="reason">Motivo do Encaminhamento</label>
            <input
                  type="text"
                  id="reason"
                  required [(ngModel)]="report.reason"
                  name="reason"
                  class="validate"
                  #reason="ngModel">
            <span
                  class="helper-text"
                  *ngIf="!reason.valid && reason.touched"
                  data-error="wrong"
                  data-success="right">Motivo é necessário!</span>
          </div>
          <div class="input-field">
            <label for="general_information">Informações Gerais</label>
            <input
                  type="text"
                  id="general_information"
                  required [(ngModel)]="report.general_information"
                  name="general_information"
                  class="validate"
                  #general_information="ngModel">
            <span
                  class="helper-text"
                  *ngIf="!general_information.valid && general_information.touched"
                  data-error="wrong"
                  data-success="right">Informações Gerais são necessárias!</span>
          </div>
          <div class="input-field">
            <label for="synthesis">Síntese da Investigação Pedagógica e Psicológica</label>
            <input
                  type="text"
                  id="synthesis"
                  required [(ngModel)]="report.synthesis"
                  name="synthesis"
                  class="validate"
                  #synthesis="ngModel">
            <span
                  class="helper-text"
                  *ngIf="!synthesis.valid && synthesis.touched"
                  data-error="wrong"
                  data-success="right">Síntese é necessária!</span>
          </div>
          <div class="input-field">
            <label for="conclusion">Conclusão / Encaminhamentos</label>
            <input
                  type="text"
                  id="conclusion"
                  required [(ngModel)]="report.conclusion"
                  name="conclusion"
                  class="validate"
                  #conclusion="ngModel">
            <span
                  class="helper-text"
                  *ngIf="!conclusion.valid && conclusion.touched"
                  data-error="wrong"
                  data-success="right">Conclusão é necessária!</span>
          </div>
          <div class="input-field">
            <label for="family_orientation">Orientação à Família</label>
            <input
                  type="text"
                  id="family_orientation"
                  required [(ngModel)]="report.family_orientation"
                  name="family_orientation"
                  class="validate"
                  #family_orientation="ngModel">
            <span
                  class="helper-text"
                  *ngIf="!family_orientation.valid && family_orientation.touched"
                  data-error="wrong"
                  data-success="right">Orientação à Família é necessária!</span>
          </div>
          <div class="input-field">
            <label for="school_orientation">Orientação à Escola</label>
            <input
                  type="text"
                  id="school_orientation"
                  required [(ngModel)]="report.school_orientation"
                  name="school_orientation"
                  class="validate"
                  #school_orientation="ngModel">
            <span
                  class="helper-text"
                  *ngIf="!school_orientation.valid && school_orientation.touched"
                  data-error="wrong"
                  data-success="right">Orientação à Escola é necessária!</span>
          </div>
          <div class="container">
            <div class="col s12">
              <button type="submit" [disabled]="!(f.valid)" [ngClass]="{'disabled': !(f.valid)}" class="waves-effect waves-light btn blue right">Enviar</button>
              <a href="/reports" class="waves-effect waves-light btn blue right" align="left">Voltar</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
