h4 {
  display: inline-block;
}

.title-btn {
  top: 18px;
}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
}
thead th span {
  visibility: hidden;
}
thead th.active {
  color: #000;
}
thead th.active span {
  visibility: visible;
}
