<div class="container">
  <div class="row">
    <div class="col s10 m6 l6">
      <h5 class="mt-2 mb-0">Relação de Alunos</h5>
      <p class="mt-0">Escola Classe 401</p>
    </div>
    <div class="col s2 m6 l6">
      <a routerLink="/students/new" class="btn waves-effect waves-light right title-btn">
        <i class="material-icons hide-on-med-and-up">add_circle_outline</i>
        <span class="hide-on-small-only">Adicionar Aluno</span>
      </a>
    </div>
  </div>
</div>

<div class="container card">
  <div class="container">
    <div class="row">
      <div class="input-field col s9">
        <input [(ngModel)]="filterStudent" type="text" placeholder="Pesquisar Aluno">
      </div>
      <div class="input-field col s3">
        <select [(ngModel)]="filterClass" materialize="material_select">
          <option value="" selected>Filtrar Turma</option>
          <option *ngFor="let c of classes" [value]="c">{{c}}</option>
        </select>
      </div>
    </div>

    <table class="highlight">
      <thead>
        <tr>
          <th [class.active]="order === 'name'" (click)="setOrder('name')">
            Nome Completo
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>
          <th [class.active]="order === 'student_class'" (click)="setOrder('student_class')">
            Ano/Turma
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>
          <th [class.active]="order === 'birth_date'" (click)="setOrder('birth_date')">
            Data de Nascimento
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>
          <th [class.active]="order === 'parent_telephone'" (click)="setOrder('parent_telephone')">
            Telefone do Responsável
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of students | orderBy: order:reverse:'case-insensitive' | filter:'name':filterStudent | filter:'year_class':filterClass">
          <td>{{ s.name }}</td>
          <td>{{ s.year_class }}</td>
          <td>{{ s.birth_date }}</td>
          <td>{{ s.parent_telephone }}</td>
          <td>
            <a [routerLink]="['/studentpanel', s.id]">
              <i class="material-icons">send</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
