<div class="container">
  <h4>Lista de Alunos</h4>
  <a routerLink="/students/new" class="btn waves-effect waves-light middle-btn right">
    Adicionar Aluno
    <i class="material-icons left">person_add</i>
  </a>
  <!-- <input type="text" id="pesquisa" ng-model="pesquisaAluno" placeholder="Digite a pesquisa"> -->
</div>

<div class="container">

  <!-- <p>Mostrando {{ getStudents().length }} estudantes.</p> -->

  <table class="striped">
    <thead>
      <tr>
        <th>
          <div>
            <input [(ngModel)]="searchClass" placeholder="Pesquisar Turma" class="filter-input">
          </div>
        </th>
      </tr>
    <tr>

      <!-- <tr ng-repeat="StudentsTable in students | filter:pesquisaAluno"> -->
        <th data-field="name">Nome</th>
        <th data-field="year">Ano</th>
        <th data-field="student_class">Turma</th>
        <th data-field="parent_telephone">Telefone do responsável</th>
        <th data-field="parent_email">Email do responsável</th>
        <th></th> <!-- Espaço referente aos botôes de ação -->
      </tr>

    </thead>


  <!--<div>
    <div class="filter-wrap">
      <input [(ngModel)]="searchText" placeholder="Filter Student" class="filter-input">
    </div>
</div> -->

      <tr *ngFor="let s of getStudents() | filter : searchClass">
        <td>{{ s.name }}</td>
        <td>{{ s.year }}</td>
        <td>{{ s.student_class }}</td>
        <td>{{ s.parent_telephone }}</td>
        <td>{{ s.parent_email }}</td>
        <td>
          <a [routerLink]="['/studentpanel', s.id]">
            Visualizar perfil
          </a>
        </td>
      </tr>
  </table>
</div>
