@import url("https://fonts.googleapis.com/css?family=Ubuntu|Rubik");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
	height: 100%;
}

body {
	background-color: #f9f9f9;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-size: 0.975rem;
}

main {
	min-height: calc(100% - 100px);
	padding-left: 240px;
	transition: 0.3s ease all;
	backface-visibility: hidden;
	flex: 1 0 auto;
}

main.main-full {
	padding-left: 64px;
}

.container {
	padding: 0 0.5rem 0.5rem 0;
	margin: 0 auto !important;
	max-width: 100% !important;
	width: 96% !important;
}

.container .row {
	margin-bottom: 0;
}

.card {
	overflow: hidden;
}

/* Container */
@media only screen and (min-width: 601px) {
	.container {
		width: 98%;
	}
}

@media only screen and (min-width: 993px) {
	.container {
		width: 98%;
	}
}

@media only screen and (max-width: 993px) {
	main {
		padding-left: 0;
	}
	footer {
		padding-left: 0;
	}
}

/* Width */
.width-10 {
	width: 10% !important;
}

.width-20 {
	width: 20% !important;
}

.width-30 {
	width: 30% !important;
}

.width-40 {
	width: 40% !important;
}

.width-50 {
	width: 50% !important;
}

.width-60 {
	width: 60% !important;
}

.width-70 {
	width: 70% !important;
}

.width-80 {
	width: 80% !important;
}

.width-90 {
	width: 90% !important;
}

.width-100 {
	width: 100% !important;
}

/* Border Radius */
.border-radius-1 {
	border-radius: 1px !important;
}

.border-radius-2 {
	border-radius: 2px !important;
}

.border-radius-3 {
	border-radius: 3px !important;
}

.border-radius-4 {
	border-radius: 4px !important;
}

.border-radius-5 {
	border-radius: 5px !important;
}

.border-radius-6 {
	border-radius: 6px !important;
}

.border-radius-7 {
	border-radius: 7px !important;
}

.border-radius-8 {
	border-radius: 8px !important;
}

.border-radius-9 {
	border-radius: 9px !important;
}

.border-radius-10 {
	border-radius: 10px !important;
}

.border-round {
	border-radius: 50px !important;
}

/* Font Weight */
.font-weight-100 {
	font-weight: 100 !important;
}

.font-weight-200 {
	font-weight: 200 !important;
}

.font-weight-300 {
	font-weight: 300 !important;
}

.font-weight-400 {
	font-weight: 400 !important;
}

.font-weight-500 {
	font-weight: 500 !important;
}

.font-weight-600 {
	font-weight: 600 !important;
}

.font-weight-700 {
	font-weight: 700 !important;
}

.font-weight-800 {
	font-weight: 800 !important;
}

.font-weight-900 {
	font-weight: 900 !important;
}

.m-0 {
	margin: 0 !important;
}

/* Margin Top */
.mt-0 {
	margin-top: 0% !important;
}

.mt-1 {
	margin-top: 1% !important;
}

.mt-2 {
	margin-top: 2% !important;
}

.mt-3 {
	margin-top: 3% !important;
}

.mt-4 {
	margin-top: 4% !important;
}

.mt-5 {
	margin-top: 5% !important;
}

.mt-6 {
	margin-top: 6% !important;
}

.mt-7 {
	margin-top: 7% !important;
}

.mt-8 {
	margin-top: 8% !important;
}

.mt-9 {
	margin-top: 9% !important;
}

.mt-10 {
	margin-top: 10% !important;
}

/* Margin Right */
.mr-0 {
	margin-right: 0% !important;
}

.mr-1 {
	margin-right: 1% !important;
}

.mr-2 {
	margin-right: 2% !important;
}

.mr-3 {
	margin-right: 3% !important;
}

.mr-4 {
	margin-right: 4% !important;
}

.mr-5 {
	margin-right: 5% !important;
}

.mr-6 {
	margin-right: 6% !important;
}

.mr-7 {
	margin-right: 7% !important;
}

.mr-8 {
	margin-right: 8% !important;
}

.mr-9 {
	margin-right: 9% !important;
}

.mr-10 {
	margin-right: 10% !important;
}

/* Margin Left */
.ml-0 {
	margin-left: 0% !important;
}

.ml-1 {
	margin-left: 1% !important;
}

.ml-2 {
	margin-left: 2% !important;
}

.ml-3 {
	margin-left: 3% !important;
}

.ml-4 {
	margin-left: 4% !important;
}

.ml-5 {
	margin-left: 5% !important;
}

.ml-6 {
	margin-left: 6% !important;
}

.ml-7 {
	margin-left: 7% !important;
}

.ml-8 {
	margin-left: 8% !important;
}

.ml-9 {
	margin-left: 9% !important;
}

.ml-10 {
	margin-left: 10% !important;
}

/* Margin Bottom */
.mb-0 {
	margin-bottom: 0% !important;
}

.mb-1 {
	margin-bottom: 1% !important;
}

.mb-2 {
	margin-bottom: 2% !important;
}

.mb-3 {
	margin-bottom: 3% !important;
}

.mb-4 {
	margin-bottom: 4% !important;
}

.mb-5 {
	margin-bottom: 5% !important;
}

.mb-6 {
	margin-bottom: 6% !important;
}

.mb-7 {
	margin-bottom: 7% !important;
}

.mb-8 {
	margin-bottom: 8% !important;
}

.mb-9 {
	margin-bottom: 9% !important;
}

.mb-10 {
	margin-bottom: 10% !important;
}

/* Padding All */
.padding-1 {
	padding: 1% !important;
}

.padding-2 {
	padding: 2% !important;
}

.padding-3 {
	padding: 3% !important;
}

.padding-4 {
	padding: 4% !important;
}

.padding-5 {
	padding: 5% !important;
}

.padding-6 {
	padding: 6% !important;
}

.padding-7 {
	padding: 7% !important;
}

.padding-8 {
	padding: 8% !important;
}

.padding-9 {
	padding: 9% !important;
}

.padding-10 {
	padding: 10% !important;
}

.p-0 {
	padding: 0 !important;
}

/* Padding Top */
.pt-0 {
	padding-top: 0% !important;
}

.pt-1 {
	padding-top: 1% !important;
}

.pt-2 {
	padding-top: 2% !important;
}

.pt-3 {
	padding-top: 3% !important;
}

.pt-4 {
	padding-top: 4% !important;
}

.pt-5 {
	padding-top: 5% !important;
}

.pt-6 {
	padding-top: 6% !important;
}

.pt-7 {
	padding-top: 7% !important;
}

.pt-8 {
	padding-top: 8% !important;
}

.pt-9 {
	padding-top: 9% !important;
}

.pt-10 {
	padding-top: 10% !important;
}

/* Padding Right */
.pr-0 {
	padding-right: 0% !important;
}

.pr-1 {
	padding-right: 1% !important;
}

.pr-2 {
	padding-right: 2% !important;
}

.pr-3 {
	padding-right: 3% !important;
}

.pr-4 {
	padding-right: 4% !important;
}

.pr-5 {
	padding-right: 5% !important;
}

.pr-6 {
	padding-right: 6% !important;
}

.pr-7 {
	padding-right: 7% !important;
}

.pr-8 {
	padding-right: 8% !important;
}

.pr-9 {
	padding-right: 9% !important;
}

.pr-10 {
	padding-right: 10% !important;
}

/* Padding Right */
.pl-0 {
	padding-left: 0% !important;
}

.pl-1 {
	padding-left: 1% !important;
}

.pl-2 {
	padding-left: 2% !important;
}

.pl-3 {
	padding-left: 3% !important;
}

.pl-4 {
	padding-left: 4% !important;
}

.pl-5 {
	padding-left: 5% !important;
}

.pl-6 {
	padding-left: 6% !important;
}

.pl-7 {
	padding-left: 7% !important;
}

.pl-8 {
	padding-left: 8% !important;
}

.pl-9 {
	padding-left: 9% !important;
}

.pl-10 {
	padding-left: 10% !important;
}

/* Padding Bottom */
.pb-0 {
	padding-bottom: 0% !important;
}

.pb-1 {
	padding-bottom: 1% !important;
}

.pb-2 {
	padding-bottom: 2% !important;
}

.pb-3 {
	padding-bottom: 3% !important;
}

.pb-4 {
	padding-bottom: 4% !important;
}

.pb-5 {
	padding-bottom: 5% !important;
}

.pb-6 {
	padding-bottom: 6% !important;
}

.pb-7 {
	padding-bottom: 7% !important;
}

.pb-8 {
	padding-bottom: 8% !important;
}

.pb-9 {
	padding-bottom: 9% !important;
}

.pb-10 {
	padding-bottom: 10% !important;
}

/* Minimum Height */
.min-height-100 {
	min-height: 100px !important;
}

.min-height-150 {
	min-height: 150px !important;
}

.min-height-200 {
	min-height: 200px !important;
}

.min-height-250 {
	min-height: 250px !important;
}

.min-height-300 {
	min-height: 300px !important;
}

/* opacity 0 */
.opacity-0 {
	opacity: 0;
}

/* Border None & Shadow None */
.border-none {
	border-top: none !important;
	border-bottom: none !important;
	border-left: none !important;
	border-right: none !important;
}

.box-shadow-none {
	box-shadow: none !important;
}

/* Margin 0 & Padding 0 */
.no-margin {
	margin: 0% !important;
}

.no-padding {
	padding: 0% !important;
}

/* Position */
.position-absolute {
	position: absolute;
}

/* Vertical Align */
.vertical-align-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.vertical-align-super {
	vertical-align: super;
}

/* Line Height */
.line-height-0 {
	line-height: 0px !important;
}

/*---------------------------------
Typography
-----------------------------------*/
.small {
	font-size: 1rem !important;
}

.medium-small {
	font-size: 0.9rem !important;
}

.ultra-small {
	font-size: 0.8rem !important;
}

small {
	font-size: 0.8rem;
}

.strong {
	font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	line-height: 1.1;
}

h4.header {
	line-height: 2.508rem;
	margin: 1.14rem 0 0.912rem 0;
	font-size: 1.4rem;
	font-weight: 400;
	text-transform: uppercase;
}

h4.header2 {
	font-size: 1.1rem;
	font-weight: 400;
	text-transform: uppercase;
}

p.title {
	font-size: 1.3rem;
}

p.header {
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
}

li.li-hover:hover {
	background: transparent !important;
}

li.search-out:hover {
	background: transparent;
}

li.mobile:before {
	background: #f7464a;
}

li.kitchen:before {
	background: #46bfbd;
}

li.home:before {
	background: #fdb45c;
}

.valign-demo {
	height: 400px;
	background-color: #ddd;
}

.margin {
	margin: 0 !important;
}

.uppercase {
	text-transform: uppercase;
}

.collection .collection-item.avatar:not(.circle-clipper) > .circle {
	background: #e6e6e6;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
	color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
	color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
	color: white;
}

.material-icons.md-light.md-inactive {
	color: rgba(255, 255, 255, 0.3);
}

/* INCLUCARE Originals */
/* Custom Colors */
.inclucolor-1 {
	background-color: #006699 !important;
}

.inclucolor-2 {
	background-color: #005588 !important;
}

.inclucolor-3 {
	background-color: #003c60 !important;
}

.inclucolor-4 {
	background-color: #0099b3 !important;
}

.inclucolor-5 {
	background-color: #009988 !important;
}

.inclucolor-dark {
	background-color: #002030 !important;
}
