<div class="container">
  <div class="row">
    <div class="col s10 m6 l6">
      <h5 class="mt-2 mb-0">Painel do Registro Diário</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <form id="dailylog_data" role="form">
      <div class="card-content row">
        <div class="input-field">
          <input type="text" id="date" placeholder="" [(ngModel)]="dailylog.date" name="date" #date="ngModel" [readonly]="!editMode">
          <label class="active" for="date">Data</label>
        </div>
        <div class="input-field">
          <input type="text" id="activity" placeholder="" [(ngModel)]="dailylog.activity" name='activity' #activity="ngModel" [readonly]="!editMode">
          <label class="active" for="activity">Atividade Desenvolvida</label>
        </div>
        <div class="input-field">
          <textarea id="note" placeholder="" [(ngModel)]="dailylog.note" name='note' #note="ngModel" class="materialize-textarea" [readonly]="!editMode"></textarea>
          <label class="active" for="note">Observação</label>
        </div>
      </div>
      <div class="card-action" align="right">
        <button (click)="returnToList(dailylog)" class="waves-effect waves-light btn blue left">Voltar</button>
        <button (click)="editMode = !editMode" *ngIf="!editMode" class="btn waves-effect waves-light" type="submit" name="action">
          Editar
          <i class="material-icons right">edit</i>
        </button>
        <button *ngIf="editMode" (click)="deleteDailyLog(dailylog)" class="btn waves-effect waves-light red" type="button" name="action">
          Deletar Registro
          <i class="material-icons right">delete</i>
        </button>
        <button *ngIf="editMode" (click)="editMode = !editMode"class="btn waves-effect waves-light" type="button" name="action">
          Cancelar
          <i class="material-icons right">close</i>
        </button>
        <button *ngIf="editMode" (click)="updateDailyLog(dailylog)" class="btn waves-effect waves-light" type="button" name="action">
          Salvar alterações
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
