<div class="modal" materialize="modal" [materializeActions]="modalActions">
  <div class="container">
    <div class="row">
      <h5 class="col s12">Registro de Membro</h5>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div *ngIf="formErrors" class="col s12">
        <strong><span class="red-text">Ocorreu um erro ao tentar criar a sua conta no sistema.</span></strong>
        <ul class="red-text">
          <li *ngFor="let error of formErrors">{{ error }}</li>
        </ul>
      </div>
      <form [formGroup]="form" (ngSubmit)="signUpUser()">
        <div class="input-field col s12">
          <label for="name">Nome</label>
          <input id="register_name" type="text" formControlName="name">
          <div *ngIf="formUtils.showFieldError('name')">
            <span *ngIf="form.get('name').errors.required" class="helper-text" data-error="wrong" data-success="right">O nome é obrigatório</span>
            <span *ngIf="form.get('name').errors.minlength" class="helper-text" data-error="wrong" data-success="right">O nome deve ter no mínimo 5 caracteres</span>
            <span *ngIf="form.get('name').errors.maxlength" class="helper-text" data-error="wrong" data-success="right">O nome deve ter no máximo 100 caracteres</span>
          </div>
        </div>
        <div class="input-field col s12">
          <label for="email">Email</label>
          <input id="register_email" type="email" formControlName="email">
          <div *ngIf="formUtils.showFieldError('email')">
            <span *ngIf="form.get('email').errors.required" class="helper-text" data-error="wrong" data-success="right">O email é obrigatório</span>
            <span *ngIf="form.get('email').errors.email" class="helper-text" data-error="wrong" data-success="right">O email digitado é inválido</span>
          </div>
        </div>
        <div class="input-field col s12">
          <label for="password">Senha</label>
          <input id="register_password" type="password" formControlName="password">
          <div *ngIf="formUtils.showFieldError('password')">
            <span *ngIf="form.get('password').errors.required" class="helper-text" data-error="wrong" data-success="right">A senha é obrigatória</span>
            <span *ngIf="form.get('password').errors.minlength" class="helper-text" data-error="wrong" data-success="right">A senha deve ter no mínimo 8 caracteres</span>
          </div>
        </div>
        <div class="input-field col s12">
          <label for="passwordConfirmation">Senha</label>
          <input id="register_passwordConfirmation" type="password" formControlName="passwordConfirmation">
          <div *ngIf="formUtils.showFieldError('passwordConfirmation')">
            <span *ngIf="form.get('passwordConfirmation').errors.required" class="helper-text" data-error="wrong" data-success="right">A confirmação de senha é obrigatória</span>
            <span *ngIf="form.get('passwordConfirmation').errors.mismatch" class="helper-text" data-error="wrong" data-success="right">A senha e a confirmação de senha não estão combinando</span>
          </div>
        </div>
        <button [disabled]="form.invalid || submitted" type="submit" class="btn waves-effect waves-light green right">Criar Conta</button>
      </form>
      <button (click)="closeDialog()" class="btn waves-effect waves-light left">Voltar</button>
    </div>
  </div>
</div>
